.container-main{
  margin-top: 70px;
}
.navbar-fixed-top{
  border: 0;
  height: 50px;
}
.logo{
  background: red;
  height:50px;
  float: left;
  margin-right:1em;
}
.title{
	color: #fff;
	line-height: 50px;
	margin: 0;
}
.filter{
	margin-bottom: 15px;
}