<!-- toolbar -->

 <div class="row show-grid">
  <div class="col-sm-3">
  	<select class="form-control" ng-model = "query.category">
      <option value="">Category-All</option>
      <option value="Keyword">Keyword</option>
      <option value="Person">Person</option>
      <option value="Hashtag">Hashtag</option>
      <option value="Country">Country</option>
    </select>
    
  </div>
  <div class="col-sm-6">
  	<form class="input-group">
  		<span class="input-group-addon">
         Search
      </span>
      <input type="text" class="form-control" placeholder="Search for..." ng-model="query.rule">  
    </form>
  </div>
  <div class="col-sm-2 col-sm-offset-1">
  	<button type="button" class="btn btn-default" ui-sref="add">New</button>
  </div>
</div>

<!--table-->
<table class="table table-striped">
  <thead>
    <tr>
      <th>Category</th>
      <th>Rule</th>
    </tr>
  </thead>
  <tbody>
  	<tr ng-repeat="item in list | filter:query | paging:page.index:page.size ">
  		<td ng-bind="item.category"></td>
  		<td><a ng-bind="item.rule" ui-sref="rule" ng-click="change(item.id, item.category, item.rule)"></a></td>
  	</tr>
  </tbody>
</table>

<!--pager -->
<pagination total-items="list|filter:query|size" 
            ng-model="page.index" 
            max-size="20"
            items-per-page="page.size"
            boundary-links="true"
            class="pagination-sm pull-right">
</pagination>