<!-- table header -->

     <div class="row show-grid">
      <div class="col-sm-3">
      	<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
		    category-All
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">All</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Keywords</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Person</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hashtag</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Country</a></li>
		  </ul>
		</div>
      </div>
      <div class="col-sm-6">

      	<form class="input-group">
      		<span class="input-group-addon">
		       Search
		    </span>
	      <input type="text" class="form-control" placeholder="Search for..." ng-model="query">
	      
	    </form>
      </div>
      <div class="col-sm-2 col-sm-offset-1">
      	<button type="button" class="btn btn-default">New</button>
      </div>
    </div>

<!--table-->
<table class="table table-striped">
  <thead>
    <tr>
      <th>Category</th>
      <th>Rule</th>
      
    </tr>
  </thead>
  <tbody>
  	<tr ng-repeat="item in list | filter:query | paging:page.index:page.size ">
  		<td ng-bind="item.category"></td>
  		<td ng-bind="item.rule"></td>
  	</tr>
  </tbody>
</table>

<!--pager -->
<pagination total-items="list|filter:query|size" ng-model="page.index" max-size="5"
                items-per-page="page.size"
                class="pagination-sm pull-right" boundary-links="true"></pagination>