<!-- table header -->

     <div class="row show-grid">
      <div class="col-sm-3">
      	<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
		    category-All
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">All</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Keywords</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Person</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hashtag</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Country</a></li>
		  </ul>
		</div>
      </div>
      <div class="col-sm-6">
      	<div class="input-group">
		  <input type="text" class="form-control" placeholder="Type something to search" aria-describedby="basic-addon2">
		  <span class="input-group-addon" id="basic-addon2">Search</span>
		</div>
      </div>
      <div class="col-sm-2 col-sm-offset-1">
      	<button type="button" class="btn btn-default">New</button>
      </div>
    </div>

<!--table-->
<table class="table table-striped">
  <!-- <caption>Optional table caption.</caption> -->
  <thead>
    <tr>
      <th>Category</th>
      <th>Rule</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      
      
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>